* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
    background-color: #ffffff;
    max-width: 1440px;
    margin: 0 auto;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.title-logo:hover {
    box-shadow: 2px 2px 5px 2px rgba(82, 97, 179, 0.288);
    border-radius: 20px;
}

.navigation {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    align-items: center;
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 175px;
    flex: 1;
    font-style: italic;
    color: #373737;
}

.item:hover {
    box-shadow: 0 2px 0px 0px #4281FF;
    color: #373737;
    font-size: 20px;
}

.cta {
    border: 2px solid #717CFF;
    border-radius: 11px;
    padding: 10px 35px;
    font-style: italic;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #505050;
    background-color: #ffffff;
}

.cta:hover {
    border: 3px inset#178BFF;
}

.color:hover {
    color: #000000;
}

.title {
    font-style: italic;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    color: #2F2F2F;
    margin-right: 50px;
}

.paragraph {
    margin-top: 30px;
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 38px;
    color: #7D7D7D;
}

.span {
    color: #717CFF;
    animation: span 4s none 1s infinite;
}

@keyframes span {
    0%,
    100% {
        color: #C175FA;
    }
    50% {
        color: #9EFE91;
    }
    50% {
        color: #A391FE;
    }
    50% {
        color: #FEBF91;
    }
    25% {
        color: #9EFE91;
    }
}

.cta-2 {
    font-size: 22px;
    line-height: 40px;
    border-radius: 11px;
    background-color: #717CFF;
    color: #FFFFFF;
    border: 0;
    padding: 12px 34px;
    align-items: center;
    display: flex;
    margin-top: 25px;
    cursor: pointer;
    font-style: italic;
}

.cta-2:hover {
    box-shadow: 2px 2px 5px 8px rgba(82, 97, 179, 0.288);
}

.arrow {
    padding-left: 30px;
}

.main {
    display: flex;
    padding: 140px 0 0 0;
}

.image-girl {
    margin: 0 0 0 135px;
}

.group-icon {
    align-items: center;
    display: flex;
    padding: 60px 0px 0px 15px;
    justify-content: end;
    grid-column-gap: 20px;
}

.featured-universities {
    background-color: #FAFAFA;
    width: 100%;
}

.title-2 {
    display: flex;
    justify-content: center;
    opacity: 0.73;
    letter-spacing: 2.1px;
    font-style: italic;
    font-size: 23px;
    line-height: 26px;
    text-align: center;
    color: #373737;
    text-transform: uppercase;
    font-weight: 400;
}

.title-2:hover {
    font-size: 30px;
}

.logos {
    padding: 85px 0 105px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.arrow-paragraph {
    margin-left: 15px;
}

.group-loading {
    align-items: center;
    display: flex;
    justify-content: center;
    grid-column-gap: 20px;
}

.loading-b {
    background-color: #717CFF;
    width: 14px;
    border-radius: 50%;
    height: 14px;
    animation-name: loading;
    animation-duration: 4s;
}

.loading-c {
    background-color: rgba(124, 124, 124, 0.3188);
    width: 10px;
    border-radius: 50%;
    height: 10px;
}

.icon-1:hover {
    border: 0.5px inset #000000;
    border-radius: 50%;
}

.box-1 {
    margin: 0 0 100px 0;
}

.title-small {
    font-size: 37px;
    line-height: 54px;
    letter-spacing: 0.46px;
    display: flex;
    justify-content: center;
}

.title-small:hover {
    font-size: 30px;
}

.paragraph-2 {
    margin-top: 25px;
    font-size: 22px;
    text-align: center;
    line-height: 38px;
    font-style: italic;
    color: #7D7D7D;
    width: 70%;
    font-style: italic;
}

.paragraph-center {
    display: flex;
    justify-content: center;
}

.group-paragraph {
    box-shadow: 1px 1px 52px 1px rgba(0, 0, 0, 0.1039);
    border: 5px solid #ffffff;
    border-radius: 10px;
    padding: 30px 15px 30px 30px;
    width: 340px;
}

.title-small-2 {
    font-size: 24px;
    line-height: 37px;
    color: #37474F;
    margin-top: 30px;
}

.title-small-2:hover {
    font-size: 25px;
    color: #000000;
}

.text {
    margin-top: 10px;
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}

.learn-arrow {
    display: flex;
    align-items: center;
    font-size: 17px;
    letter-spacing: 0.1px;
    font-weight: bold;
    color: #717CFF;
    margin-top: 15px;
}

.box-2 {
    display: flex;
    grid-gap: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

.news {
    padding: 100px 0 125px 0;
    background-color: #FAFAFA;
}

.word {
    font-weight: bold;
    font-size: 37px;
    line-height: 54px;
    letter-spacing: -0.46px;
    display: flex;
    justify-content: center;
}

.word:hover {
    font-size: 40px;
}

.title-small:hover {
    font-size: 30px;
}

.our-services {
    padding: 100px 0 125px 0;
}

.paragraph-3 {
    font-style: italic;
    margin-top: 25px;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    width: 70%;
}

.paragraph-center-2 {
    display: flex;
    justify-content: center;
}

.group-images {
    box-shadow: 1px 1px 52px 1px rgba(0, 0, 0, 0.1039);
    border: 0px solid;
    background: #ffffff;
    width: 344px;
    border-radius: 10px;
}

.group-images:hover {
    box-shadow: 5px 5px 5px#FBC082;
}

.date {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 18.4px;
    padding: 25px 0px 0px 25px;
    color: #565656;
    font-style: italic;
}

.gril-writer:hover {
    box-shadow: 2px 2px 2px #717CFF;
    border-radius: 50%;
}

.icon-date {
    margin-right: 10px;
}

.paragraph-4 {
    font-size: 22px;
    line-height: 25px;
    padding: 15px 0px 60px 25px;
    font-weight: 700;
    color: #252525;
    padding: 15px 27px 60px 25px;
}

.box-a {
    grid-gap: 45px;
    margin: 120px 0 145px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cta-3 {
    font-size: 22px;
    line-height: 40px;
    border-radius: 11px;
    background-color: #717CFF;
    color: #ffffff;
    border: 0;
    padding: 12px 34px;
    align-items: center;
    display: flex;
    font-style: italic;
}

.cta-3:hover {
    box-shadow: 2px 2px 5px 8px rgba(82, 97, 179, 0.288);
}

.button {
    display: flex;
    justify-content: center;
}

.box-australia {
    width: 350px;
}

.arrow-2 {
    padding-left: 30px;
}

.box {
    padding: 30px 0 80px 0;
}

.title-a {
    font-size: 37px;
    line-height: 54px;
    letter-spacing: -0.46px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.title-a:hover {
    font-size: 40px;
}

.paragraph-a {
    font-size: 22px;
    margin-top: 25px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
    width: 70%;
    font-style: italic;
}

.paragraph-a-center {
    display: flex;
    justify-content: center;
}

.upcoming-university-events {
    padding: 100px 0 110px 0;
}

.border-1 {
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px;
    width: 540px;
}

.border-2 {
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    padding: 30px;
    width: 540px;
}

.group-6 {
    display: flex;
    align-items: center;
}

.small-border {
    border-radius: 11px;
    background: #717dff60;
    animation: color 5s none 1s infinite;
}

@keyframes color {
    0%,
    100% {
        background: #717dff60;
    }
    50% {
        background: #FBC082;
    }
    50% {
        background: #82FBE0;
    }
    25% {
        background: #EBFEB2;
    }
}

.day-date {
    font-size: 27px;
    color: #717CFF;
}

.month {
    font-size: 18px;
    line-height: 20.7px;
    color: #717CFF;
}

.group-day-date {
    justify-items: center;
    display: grid;
    padding: 13px 20px;
}

.paragraph-b {
    font-size: 24px;
    line-height: 37px;
    padding: 0 70px 0 20px;
    display: grid;
    justify-self: end;
    color: #37474F;
    font-weight: bold;
}

.text-a {
    font-Size: 16px;
    Line-Height: 28px;
    letter-spacing: 0.44px;
    color: rgba(55, 71, 79, 0.7216);
    margin: 30px 0 15px 0;
    font-style: italic;
    letter-spacing: 0.44px;
}

.span-arrow {
    display: flex;
    color: #717CFF;
    font-size: 17px;
    line-height: 19.55px;
    letter-spacing: 0.44px;
    font-weight: bold;
    align-items: center;
}

.group-date {
    display: flex;
    justify-content: space-between;
}

.group-time {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #373737;
}

.box-b {
    margin: 100px 0 80px 0;
    grid-gap: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.countries-we-covered {
    background-color: #FAFAFA;
    padding: 80px 0 135px 0;
}

.box-6 {
    text-align: center;
}

.title-3 {
    font-size: 37px;
    line-height: 54px;
    letter-spacing: -0.46px;
}

.title-3:hover {
    font-size: 40px;
}

.paragraph-5 {
    margin-top: 25px;
    font-size: 22px;
    line-height: 38px;
    letter-spacing: -0.46px;
    font-style: italic;
    color: #7D7D7D;
    width: 70%;
}

.paragraph-5-center {
    display: flex;
    justify-content: center;
}

.loading-2 {
    margin: 21px auto;
    display: flex;
    padding-bottom: 133px;
}

.sapn-australia {
    margin-top: 25px;
    font-style: italic;
    font-size: 25px;
    line-height: 28.75px;
    color: #37474F;
}

.paragraph-australia {
    font-style: italic;
    font-size: 16px;
    line-height: 27px;
    color: #37474F;
    margin-top: 10px;
    padding-right: 55px;
    color: #7D7D7D;
}

.contries {
    margin: 75px 0 54px 0;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 45px;
    justify-content: center;
}

.group-title-c {
    text-align: center;
}

.title-4 {
    letter-spacing: -0.46px;
    font-size: 37px;
    line-height: 54px;
}

.title-4:hover {
    font-size: 40px;
}

.paragraph-c {
    letter-spacing: -0.46px;
    font-size: 22px;
    line-height: 38px;
    margin: 25px 0 140px 0;
    font-style: italic;
    color: #7D7D7D;
    width: 70%;
}

.testimonial {
    padding: 115px 0 100px 0;
}

.paragraph-c-center {
    display: flex;
    justify-content: center;
}

.group-border {
    background: #FFFFFF;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 29px;
    width: 503px;
    padding: 35px;
}

.image-writer {
    display: flex;
    align-items: center;
}

.image-writer:hover {
    box-shadow: 1px 1px 5px #37474F;
}

.writer {
    font-style: italic;
    font-size: 22px;
    line-height: 25.3px;
    color: #37474F;
}

.proffision {
    font-style: italic;
    font-size: 18px;
    line-height: 20.7px;
    color: rgba(55, 71, 79, 0.65);
}

.opinion {
    margin-top: 28px;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 31px;
    color: #7D7D7D;
}

.group-writer-proffision {
    padding: 0px 30px;
}

.group-views {
    display: flex;
    justify-content: center;
    grid-column-gap: 60px;
    margin-bottom: 85px;
    flex-wrap: wrap;
    grid-gap: 60px;
}

.question {
    max-width: 1440px;
    background-color: rgba(250, 250, 250, 1);
}

.box-7 {
    display: flex;
    justify-content: space-around;
    padding: 90px 0;
}

.paragraph-6 {
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
}

.cta-4 {
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    color: #EEEEEE;
    background-color: #717CFF;
    border-radius: 11px;
    align-items: center;
    display: flex;
    border: 0;
    padding: 12px 35px 12px 35px;
    font-style: italic;
}

.cta-4:hover {
    box-shadow: 2px 2px 5px 8px rgba(82, 97, 179, 0.288);
}

.arrow-3 {
    margin-left: 40px;
}

.footer {
    background: #717CFF;
}

.footer-2 {
    padding: 65px 0px 45px 0px;
    display: flex;
    justify-content: space-between;
    color: #EEEEEE;
    font-style: italic;
    font-size: 18px;
    line-height: 50px;
}

.paragraph-footer-1-2 {
    display: grid;
    grid-gap: 26px;
}

.paragraph-footer-2 {
    margin-top: 10px;
}

.paragraph-footer-1 {
    width: 55%;
}

.list-footer {
    display: grid;
    grid-gap: 20px;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 49px;
    color: #EEEEEE;
    list-style-type: none;
}

.icon-f-t-i {
    margin-bottom: 46px;
    align-items: flex-end;
    display: flex;
}