            * {
                box-sizing: border-box;
                ;
            }
            
            body {
                font-family: monospace;
                background-color: white;
                max-width: 1440px;
            }
            
            .main-cotent {
                font-family: monospace;
            }
            
            .header {
                display: flex;
                width: 100%;
            }
            
            .nav {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 40px 100px 0 150px;
                height: 132px;
            }
            
            .list {
                font-size: 17px;
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                width: 65%;
                padding-left: 112px;
            }
            
            .background-blue {
                display: block;
            }
            
            .cta {
                font-size: 17px;
                line-height: 19.55px;
                border: 2px solid #717CFF;
                border-radius: 11px;
                padding: 10px 35px;
            }
            
            .title {
                font-size: 56px;
                line-height: 64.39px;
                margin: 0;
            }
            
            .paragraph {
                margin-top: 40px;
                font-size: 22px;
                line-height: 38px;
                color: #7D7D7D;
            }
            
            .span {
                color: rgba(113, 124, 255, 1);
            }
            
            .cta-2 {
                font-size: 22px;
                line-height: 40px;
                border-radius: 11px;
                background-color: #717CFF;
                color: white;
                border: 0;
                padding: 12px 34px;
                align-items: center;
                display: flex;
            }
            
            .arrow {
                padding-left: 30px;
            }
            
            .group-icon {
                align-content: center;
            }
            
            .box {
                padding: 140px 134px 0px 150px;
            }
            
            .d {
                display: flex;
            }
            
            .image-girl {
                padding: 110px 60px 25px 0px;
            }
            
            .group-icon {
                display: flex;
                justify-content: space-between;
                padding: 50px 0px 30px 30px;
                width: 25%;
            }
            
            .background {
                background-color: #FAFAFA;
                height: 423px;
                width: 100%;
            }
            
            .title-2 {
                padding-top: 30px;
                display: flex;
                justify-content: center;
                opacity: 0.73;
                font-size: 23px;
                letter-spacing: 2.1 px;
                margin: 0;
            }
            
            .logos {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                padding: 85px 110px 0px 140px;
            }